/* General Body Styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

/* Login Page Specific Styles */
body.login-page {
    background: url(https://i.ibb.co/VQmtgjh/6845078.png) no-repeat;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Ensure other pages don't inherit login background styles */
body:not(.login-page) {
    background: none;
}

/* Media Queries for Responsive Background */
@media screen and (max-width: 600px) {
    body.login-page {
        background-size: cover;
    }
}

/* Login Page Specific Styles */
.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}

.login-box {
    width: 350px;
    min-height: 200px;
    background: #000000;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.user {
    margin: 0 auto;
    display: block;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #59238F;
    text-align: center;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.login-box input[type="text"]:hover, .login-box input[type="password"]:hover {
    color: #42F3FA;
    border: 1px solid #42F3FA;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black;
}

.login-box input[type="text"]:focus, .login-box input[type="password"]:focus {
    border-bottom: 2px solid #42F3FA;
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #59238F;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.login-box a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover {
    color: #00ffff;
}

p {
    color: #0000ff;
}
